/* modified dracula */
:root {
  --bg: #282a36;
  --bg-light: #44475a;
  --text: #6bc9df;
  --text-light: #bbf2fa;
  --accent: #bd93f9;
  --accent-light: #d0b0ff;
  --accent-text: #50fa7b;
  --border: #ff79c6;
  --link: #ff79c6;
}



#nav-bar {
  padding: .625rem 0 0 0;
  display: flex;
  flex-direction: row;
  gap: .25rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end
}

#footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.accent-data {
  color: var(--accent);
}

.theme-transition {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.tags-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end
}

.title-list li {
  margin-bottom: .375rem;
}

/* icons settings */
.icons {
  width: 1.3rem;
  height: 1.3rem;
  aspect-ratio: 1/1;
  display: inline-block;
  vertical-align: middle;
  color: var(--text);
  fill: var(--text);
  background-color: transparent;
  cursor: pointer;
}

.icons:hover {
  background-color: transparent;
  color: var(--accent);
}

/* footnotes */
.footnote-definition {
  margin: 0 0 0 .125rem;
}

.footnote-definition-label {
  color: var(--accent);
}

.footnote-definition p {
  display: inline;
  margin: .625rem 0 0 .625rem;
}

/* general classes */
.no-style {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0
}

.no-style:hover {
  background-color: transparent;
  color: var(--accent);
}

.center {
  text-align: center;
}

.center img {
  display: block;
  margin: 1rem auto;
}

.float-right {
  float: right
}

.float-left {
  float: left
}

/* Blurbs in the braindump */
.blurb-container {
  margin-bottom: 20px;
}

.blurb {
  border: 1px solid var(--border);
  border-radius: 5px;
  margin-bottom: 10px;
}

.blurb-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
}

.blurb-meta {
  display: flex;
  align-items: center;
}

.date {
  margin-right: 10px;
  font-size: 0.9em;
  color: var(--text-light);
}

.blurb-content {
  padding: 10px;
  display: none;
}

.tags {
  display: flex;
}

.tag {
  background-color: var(--bg-light);
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
  cursor: pointer;
}