/* Blurbs in the braindump */
.blurb {
    border: 1px solid var(--border);
    border-radius: 5px;
    margin-bottom: 10px;
}


.blurb-title {
    flex-grow: 1;
    text-align: left;
    margin-right: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--bg-light);
    -webkit-overflow-scrolling: touch;
}

.blurb-title a {
    color: var(--accent);
    margin: 0;
}

.blurb-title a:hover {
    color: var(--bg);
    background-color: var(--accent);
}

.blurb-title::-webkit-scrollbar {
    height: 6px;
    color: var(--accent)
        /* Set the height of the scrollbar */
}

.blurb-title::-webkit-scrollbar-track {
    background-color: var(--bg-light);
    /* Set the background color of the scrollbar track */
}

.blurb-title::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    /* Set the color of the scrollbar thumb */
    border-radius: 3px;
    /* Set the border radius of the scrollbar thumb */
}


.blurb-title-text {
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
}

.blurb-title-text:hover {
    background-color: var(--text);
    color: var(--bg-light);
}

.blurb-link {
    text-decoration: none;
    color: var(--accent);
    margin-right: 5px;
}

.blurb-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
}

.blurb-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
    white-space: nowrap;
    margin-left: auto;
}

@media screen and (max-width: 600px) {
    .blurb-meta {
        font-size: 10px;
    }
}

.date {
    margin-top: -1px;
    margin-bottom: 1px;
    color: var(--text-light);
}

.blurb-content {
    padding: 10px;
    display: none;
}


.tag {
    background-color: var(--bg-light);
    padding: 3px 8px;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    flex-shrink: 0;
}

.tags-container {
    position: relative;
    display: inline-block;
}

.tags-button {
    background-color: var(--bg-light);
    padding: 2px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.tags-button:hover {
    background-color: var(--text);
    color: var(--bg-light);

}

.tags-list {
    display: none;
    position: absolute;
    background-color: var(--bg-light);
    padding: 5px;
    border-radius: 3px;
    z-index: 1;
    right: 0;
    min-width: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border);
}

.tags-container:hover .tags-list,
.tags-list.active {
    display: block;
}

@media screen and (max-width: 600px) {
    .tag {
        font-size: 10px;
        padding: 2px 6px;
    }
}

.blurb-header:not(.toggle-btn) {
    cursor: default;
}

.blurb-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-box {
    flex: 1;
    margin-right: 20px;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--border);
    border-radius: 3px;
    font-size: 14px;
    box-sizing: border-box;
}

.tag-filter {
    flex: 1;
    position: relative;
}

.checkboxes-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}

.multiselect {
    width: auto;
    background-color: var(--bg-light);
    display: inline-block;
}

.selectBox {
    position: relative;
    background-color: var(--bg-light);
    cursor: pointer;
    border: 1px solid var(--border);
    border-radius: 3px;
}

.selectBox:hover {
    background-color: var(--text);
}

.selectBox:hover select {
    color: var(--bg-light);
}

.selectBox select {
    margin-bottom: 0.5px;
    width: 100%;
    font-weight: bold;
    padding: 3px;
    border: none;
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    text-align-last: center;
    padding-left: 5px;
    padding-right: 5px;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px var(--border) solid;
    border-radius: 3px;
    background-color: var(--bg-light);
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
}

#checkboxes label {
    display: block;
    background-color: var(--bg-light);
    padding: 3px;
}

#checkboxes label input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid var(--accent);
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer;
}

#checkboxes label input[type="checkbox"]:checked {
    background-color: var(--accent);
}

#checkboxes label:hover {
    background-color: var(--text);
    color: var(--bg-light);
}